<% content_for :head do %>
  <%= stylesheet_link_tag 'grapesjs-test', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<h1>GrapesJS test (from dom content)</h1>

<div class="editor-container">
  <div class="panel__top">
      <div class="panel__basic-actions"></div>
  </div>
  <div class="editor-row">
    <div class="editor-canvas">
      <div id="gjs">
        <h1>Heading of level 1</h1>
        <p>Normal paragraph.</p>
        <p><em>Long</em> normal paragraph. <b>Lorem ipsum</b> dolor sit amet, consectetur adipiscing elit. Donec ut eros libero. Fusce congue sodales nulla, rhoncus fringilla quam cursus vel. Aliquam placerat aliquet porta. Donec lobortis semper nisl nec pulvinar. Etiam lobortis nec metus a efficitur. Maecenas viverra venenatis ultricies. Ut id massa ut ante ultrices rhoncus. Aliquam et eros quis orci gravida ornare id vitae lorem.</p>
        
        <h2>Heading of level 2</h2>
        <p>Some list:</p>
        <ul>
          <li>First item</li>
          <li>Second item</li>
          <li>Third item</li>
          <li>And so on...</li>
        </ul>
      </div>
    </div>
    <div class="panel__right">
      <div class="layers-container"></div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'grapesjs-test' %>
