<h1>TinyMCE Test</h1>

<form method="post">
  <textarea id="mytextarea" name="mytextarea">
    Hello, World!
  </textarea>
</form>

<script src='https://cdn.tiny.cloud/1/zz02797422912pxgf9ghx9cxti2tnxbalvqa5t13s96rllq2/tinymce/5/tinymce.min.js' referrerpolicy="origin">
</script>
<script>
  tinymce.init({
    selector: '#mytextarea'
  });
</script>
