<h1>Welcome</h1>

<h2>EditorJS</h2>
<ul>
<li><%= link_to 'EditorJS Test', 'editorjs-test' %></li>
<li><%= link_to 'EditorJS Showroom', 'editorjs-showroom' %></li>
</ul>

<h2>TinyMCE</h2>
<ul>
<li><%= link_to 'TinyMCE Test', tinymce_test_path %></li>
</ul>
