<h1>Welcome</h1>

<h2>EditorJS</h2>
<ul>
<li><%= link_to 'EditorJS Test', editorjs_test_path %></li>
<li><%= link_to 'EditorJS Showroom', editorjs_showroom_path %></li>
</ul>

<h2>TinyMCE</h2>
<ul>
<li><%= link_to 'TinyMCE Test', tinymce_test_path %></li>
</ul>
